# Node
node_modules/
npm-debug.log*
package-lock.json
yarn.lock

# Visual Studio Code
.vscode/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
build/

# Env
.env

# Arduino build
*.exe
*.hex

# Other
.idea/
*.swp
